<div class="navbar-lewagon">
  <%= link_to "My lists",  root_path %>
  <%= link_to "New list",  new_list_path %>
</div>

<div class="container">
  <div class="header d-flex align-items-center justify-content-between">
    <h1><%= @list.name %></h1>
    <div>
      <p><%= link_to "delete this list", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete?" } %></p>
      <p><%= link_to "add a movie", new_list_bookmark_path(@list) %></p>
    </div>
  </div>
  <div class="movie-card">
    <% @list.bookmarks.each do |bookmark|  %>
    <h3><%= bookmark.movie.title %> - <%= bookmark.movie.rating %> тнРя╕П</h3>
    <p><%= bookmark.movie.overview %></p>
    <p><%= bookmark.comment %>ЁЯТм</p>
    <%= link_to "Delete this bookmark", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure to delete?" } %>
    <% end %>
  </div>

</div>
